{
{% if foundry_vtt_admin_key | default('') | length > 0 %}
  "foundry_admin_key": {{ foundry_vtt_admin_key | to_json }}{% if(foundry_vtt_username | default('') | length > 0) %},{% endif %}
{% endif %}
{% if foundry_vtt_username | default('') | length > 0 %}
  "foundry_username": {{ foundry_vtt_username | to_json }},
  "foundry_password": {{ foundry_vtt_password | to_json }}
{% endif %}
}
