# Managed by Ansible
server {
    listen 80;
    listen [::]:80;
    server_name {{ webdav_domain }};

    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;
    server_name {{ webdav_domain }};

    ssl_certificate     /etc/letsencrypt/live/{{ certbot_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ certbot_domain }}/privkey.pem;
    ssl_protocols       TLSv1.2 TLSv1.3;
    ssl_ciphers         HIGH:!aNULL:!MD5;

    access_log /var/log/nginx/webdav.access.log;
    error_log  /var/log/nginx/webdav.error.log warn;

    client_max_body_size 256m;

    location / {
        root {{ webdav_root_dir }};
        auth_basic "Joplin WebDAV";
        auth_basic_user_file /etc/nginx/.htpasswd-webdav;

        dav_methods PUT DELETE MKCOL COPY MOVE;
        dav_ext_methods PROPFIND OPTIONS;
        create_full_put_path on;
        dav_access user:rw group:rw all:r;

        autoindex off;

        add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
    }
}
